<h1>applied job</h1><% @applies.each do |apply| %>
  <h3><%= apply.name %></h3>
  <p><%= apply.address %></p>
  <h3><%= apply.phonenumber%></h3>
  <h3><%= apply.email%></h3>

  <%# <%= image_tag apply.resume if apply.resume.attached?%> %>
 

         
         
  
  
<% end %>
