
<h1>applied job</h1><% @applies.each do |apply| %>
  <h3><%= apply.name %></h3>
  <%# <p><%= apply.address</p> %>
  <h3><%= apply.phonenumber%></h3>
  <h3><%= apply.email%></h3>
</div>  

  
       <%= link_to apply.resume,rails_blob_path(apply.resume,disposition: "attachment") %>
     
       
      
 
  <%= link_to 'Reject', apply, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small is-link is-outlined' %></li>
  <%= link_to 'Accept', apply, class: 'button is-small is-link is-outlined' %></li>
         

  
<% end %>
